[submodule "pocketfft"]
	path = pocketfft
	url = git@github.com:mreineck/pocketfft.git

[submodule "matplotplusplus"]
	path = matplotplusplus
	url = git@github.com:alandefreitas/matplotplusplus.git
[submodule "magic_enum"]
	path = magic_enum
	url = git@github.com:Neargye/magic_enum
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "FastGaussianBlur"]
	path = FastGaussianBlur
	url = git@github.com:bfraboni/FastGaussianBlur.git
